body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: #f1d7b7;
}

.Homepage {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background: rgb(193, 199, 237);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form {
 width:100%;
  justify-content: center;
  align-items: center;
  
}

form button {
  background-color: #f59014;
  color: rgb(12, 12, 12);
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left:6cm;
  margin-right:6cm;
  
}

form button:hover {
  background-color: #be7a04;
  transition: 0.3s;
}
.pie-chart{
  width:10cm;
  align-items: center;
  justify-content: center;
  height:10cm;
  margin-left:7cm;
 
}
